.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: black;
}

#title {
    color: white;
    text-align: center;
    margin-top: 5px; 
    margin-bottom: 1rem; 
}

#myDiv {
    width: 100%;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #1f2937;
    color: #ff9800;
}


#myDiv input {
    border: none;
    border-radius: 5px;
    width: 70%;
    margin: 1px 0 25px 5px;
    outline: none;
    font-size: 23px;
    height: 44px; 
}

#copy {
    border: none;
    border-radius: 5px;
    background-color: #1d4ed8;
    color: white;
    font-size: 23px;
    height: 44px;
    width: 20%;
}

#copy:active {
    background-color: #2563eb;
}